.common__section {
  background: linear-gradient(rgba(158, 73, 3, 0.5), rgba(1, 7, 51, 0.5)),
    url("../assets/all-images/career-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0px;
}
