.box{
    background-color: #f3f3f3;
    border-radius: 20px;
    width: 30%;
    padding: 20px;
}
.boxes{
    display: flex;
    justify-content: space-between;
}
.boxes2{
    width: 100%;
}
.box2{
    background-color: #f3f3f3;
    border-radius: 20px;
    width: 48%;
    padding: 15px;
}


.box2 h3{
    text-align: center;
}